@media all and (max-width: 1300px){
	.navbar-default .navbar-nav {
		padding-right: 50px;
	}
	.discount .container > a {
		left: 50%;
	}
	.calc {
		padding-bottom: 0;
    text-align: center;
}
	.calc .container > .row + .row {
		text-align: center;
	}
	.calc .row > form {
		margin: 0 auto;
		text-align: left;
	}
	.calc .row > img {
		position: unset;
		width: 50%;
	}
	.calc .row > .calc__woman {
		position: unset;
	}
	.steps .row .row.flex {
		position: absolute;
		top: 500%;
		right: -10%;
	}
	.row_time_mobile {
		position: relative;
	}
	.timeline__desk {
		display: none;
	}
	div#timeline .dot {
		width: 37px;
	}
	div#timeline.timeline__mobile {
		position: absolute;
		display: flex;
		transform: rotate(90deg);
		margin-top: 49.5%;
	}
	.timeline__item {
		transform: rotate(-90deg);
	}
	.timeline__right {
		top: -360%;
		left: -180%;
	}
	div#timeline .dot>p {
		transform: rotate(-90deg);
		top: 275%;
		right: 105%;
	}
	div#timeline .dot>p.steps__right {
		top: -285%;
		right: 105%;
	}
	.steps_2 {
		padding-bottom: 100%;
	}
}
@media all and (max-width: 1199px) {
	.navbar-default .navbar-nav {
		padding-top: 45px
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 15px;
	}
	.header__contact>a {
		padding-top: 5px;
	}
	.header__contact div.flex {
		display: none;
	}
}
@media all and (max-width: 1200px) {
	.hero .container.flex .hero__info {
		margin-bottom: 30px;
}
.advantages .container.flex {
	flex-wrap: wrap;
}
.advantages .container.flex .advantages__item {
	padding: 4%;
	width: 50%;
	height: 220px;

}
.portfolio .row.flex, .portfolio .row .flex {
	flex-wrap: wrap;
	justify-content: center;
}
.portfolio .row .flex > button.button {
	margin: 30px;
}
.info .container {
	justify-content: center;
	flex-wrap: wrap;
}
.info__item {
	padding: 30px;
}
section.feedback .container {
	width: unset;
}
.production .row.flex{
	justify-content: center;
	flex-wrap: wrap;
}
.production__item {
	margin: 15px;
}
.production__item a img {
	width: 90%;
}

.pro h2 {
	font-size: 32px;
}
.pro p {
	font-size: 16px;
}
.pro .row > img {
	left: 40%;
}

.brands .row.flex a{
	margin: 15px;
}

.discount {
	padding: 0;
	padding-top: 100px;
}

.brands .row.flex {
	justify-content: center;
	flex-wrap: wrap;
}
.discount .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 

.discount .row {
	text-align: center;
	margin-right: 0;
}

.discount .container > a {
	padding-top: 5em;
	position: unset;
	text-align: center;
}

.discount .container > a img {
	width: 65%;
}

.experience .row {
	flex-wrap: wrap;
	justify-content: center;
}

.experience__item {
	margin: 20px;
}
.calc .row > form {
	width: 70%;
}
.plans .row.flex {
    justify-content: center;
    flex-wrap: wrap;
}
.footer .row.flex {
	justify-content: center;
}

div#timeline .dot .timeline__item p {
	top: 0;
}
.filling__wrapper .slick-slide.slick-current img {
	width: 100%;
}
.filling__wrapper .slider__item img {
	width: 100%;
	padding-top: 25px;
}
.footer .footer__copyright .conf {
	display: none;
}
.footer .flex.col-sm-12 .conf {
	display: flex;
}
}
@media all and (max-width: 1050px) {
	.wrapper__slider .slider__item img {
		display: none;
	}
	.wrapper__slider .slider__item .img_mob {
		display: block;
		position: unset;
		margin: 15px auto;
	}
	.wrapper__slider .slider__item {
		padding: 15px;
		text-align: center;
	}
	div#timeline.timeline__mobile {
		margin-top: 49.3%;
	}

	div#timeline .dot:nth-child(1) {
		left: 9%;
	}

	div#timeline .dot:nth-child(2) {
		left: 27%;
	}

	div#timeline .dot:nth-child(3) {
		left: 47%;
	}

	div#timeline .dot:nth-child(4) {
		left: 65%;
	}

	div#timeline .dot:nth-child(5) {
		left: 84%;
	}
}
@media all and (max-width: 991px) {
	.navbar .container {
		width: unset;
	}
	.hero .container.flex {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.hero .container.flex .hero__info {
		margin: auto;
		margin-bottom: 30px;
		text-align: center;
	}
	.hero .container.flex > img {
		width: 100%;
	}
	.pro .container {
		width: unset;
		margin: 0 15px;
	}
	.pro .row > img {
		left: 36%;
	}
	.calc .row > form {
		width: 90%;
		justify-content: center;
	}
	.question .row.flex {
		flex-wrap: wrap;
	}
	.question__item {
	    margin: 20px auto;
	}
	.spoiler__item {
		width: 100%;
	}
	.plans__item {
		margin: 10px;
		margin-bottom: 20px;
		padding-bottom: 100px;
	}
	.spoiler__title {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.spoiler__text {
		padding-bottom: 15px;
	}
	.footer__nav {
		margin: 25px 0;
	}
	div#timeline.timeline__mobile {
		margin-top: 49.3%;
	}

	div#timeline .dot:nth-child(1) {
		left: 7%;
	}

	div#timeline .dot:nth-child(2) {
		left: 24%;
	}

	div#timeline .dot:nth-child(3) {
		left: 44%;
	}

	div#timeline .dot:nth-child(4) {
		left: 61%;
	}

	div#timeline .dot:nth-child(5) {
		left: 80%;
	}
	.filling__wrapper .slider__item img {
		padding-top: 17px;
	}
}

@media all and (max-width: 900px) {
	.navbar-default .navbar-nav {
		padding-right: 0;
	}
	.wrapper__slider .slider__item h3 {
		font-size: 18px;
	}
	.pro {
		padding: 0;
		padding-top: 120px;
	}
	.pro .row {
		text-align: center;
	}
	.pro .row > img {
	position: unset;
	width: 70%;
    padding-top: 30px;
}
.steps .row .row.flex {
	top: 450%;
}
}
@media all and (max-width: 800px) {
	.navbar-default .navbar-nav>li>a {
		padding: 0 10px;
	}
	div#timeline.timeline__mobile {
		margin-top: 49.3%;
	}

	div#timeline .dot:nth-child(1) {
		left: 5%;
	}

	div#timeline .dot:nth-child(2) {
		left: 18%;
	}

	div#timeline .dot:nth-child(3) {
		left: 36%;
	}

	div#timeline .dot:nth-child(4) {
		left: 57%;
	}

	div#timeline .dot:nth-child(5) {
		left: 75%;
	}
	.steps .row .row.flex {
		top: 400%;
	}
}

@media all and (max-width: 780px) {
	form input {
		margin-right: 15px;
	}
	form .form__btn {
		margin-right: 15px;
	}
	.wrapper,
	.wrapper__slider .slider {
		padding: 0;
	}
	div#timeline .dot>p,
	div#timeline .dot>p.steps__right,
	div#timeline .dot p {
		right: 0;
	}
	div#timeline .dot>p,
	div#timeline .dot>p.steps__right {
		right: 105%;
	}
	.steps .row .row.flex {
		top: 380%;
	}
	.filling__wrapper .slider__item img {
		padding-top: 15px;
	}

}
@media all and (max-width: 767px) {
		.container>.navbar-header {
			display: flex;
			align-items: center;
			flex-flow: row-reverse;
			justify-content: space-between;
		}
		.navbar-default .navbar-nav {
			width: 50%;
		}
		.header__contact {
			width: 50%;
		}
		.navbar-toggle {
			margin: 0;
		}
		.show {
			display: flex;
		}
		.header__contact a {
			padding-top: 48px;
		}
		.navbar-default .navbar-nav>li>a {
			padding: 10px;
		}
		.footer .flex .col-lg-3 {
			flex-direction: column;
		}
		.footer .contact__number {
			text-align: center;
		}
}

@media all and (max-width: 670px) {

	.steps_2 {
		padding-bottom: 200%;
	}
	div#timeline {
		width: 200%;	
	}

	div#timeline .dot>p.steps__right {
		top: -330%;
		right: 105%;
	}
	div#timeline.timeline__mobile {
		margin-top: 99.3%;
		left: -50%;
	}
	div#timeline .dot>p {
		right: 105%;
	}
	div#timeline .dot>p.steps__right {
		right: 105%;
	}
	.steps .row .row.flex {
		top: 450%;
	}

}
@media all and (max-width: 640px) {
	form input {
		width: 300px;
		margin-right: 0;
	}
	form .form__btn {
		width: 296px;
		padding: 20px 30px;
		margin-right: 0;
	}
	.footer .row .footer__nav ul {
		flex-wrap: wrap;
	}
	.calc label p {
		width: 100%;
	}
	.wrapper__slider .slider__item {
		margin: 0 1.3%;
		text-align: center;
	}
	.wrapper__slider .slider_link_desk {
		display: none;
	}
	.wrapper__slider .slider_link_mob {
		display: block;
		padding-bottom: 15px;
	}
	.filling__wrapper .slider__item img {
		padding-top: 12px;
	}
}
@media all and (max-width: 550px) {
	.timeline__item {
		top: 230%;
	}
	.steps .row .row.flex {
		top: 350%;
		right: 55%;
	}
	div#timeline.timeline__mobile {
		margin-top: 149%;
		left: -60%;
	}
	.steps_2 {
		padding-bottom: 300%;
	}
	div#timeline {
		width: 300%;
	}
	div#timeline .dot>p.steps__right {
		right: 145%;
		top: 275%;
	}
	div#timeline .dot:nth-child(1) {
		left: 7%;
	}

	div#timeline .dot:nth-child(2) {
		left: 24%;
	}

	div#timeline .dot:nth-child(3) {
		left: 45%;
	}

	div#timeline .dot:nth-child(4) {
		left: 67%;
	}

	div#timeline .dot:nth-child(5) {
		left: 86%;
	}
	.filling__wrapper {
		padding: 0;
	}
	.wrapper__slider {
		padding: 0;
	}
	.footer .row .footer__nav ul.flex li {
		padding: 15px;
	}
}
@media all and (max-width: 384px) {
	.hero h1 {
		font-size: 32px;
	}
	.hero h1 span {
		font-size: 28px;
	}
	.advantages .container.flex {
		flex-direction: column;
	}
	.advantages .container.flex .advantages__item {
		margin: 10px auto;
	}
	.yellow {
		font-size: 15px;
		padding: 10px;
	}
	h2 {
		font-size: 32px;
	}
	.production p {
		padding: 0;
		padding-top: 15px;
	}
	.pro h2 {
		font-size: 25px;
		padding-bottom: 15px;
	}
	.discount .row {
		margin: 0 auto;
	}
	.discount h3 {
		font-size: 120px;
	}
	.steps h2 {
		font-size: 38px;
	}
	.plans__item {
		width: 85%;
	}
	.plans__item.standart:before {
    right: 30px;
    width: 200px;
	}
	.spoiler__title:before {
		right: -15px;
	}
	.spoiler__title:after {
		right: -22px;
	}
	.calc h2 {
		padding-left: 0;
	}
	.plans__item p {
    width: 95%;
	}
	.plans__img {
		width: 100%;
	}
	.plans__item button.green {
		padding: 20px;
	}
	.map .map__contact {
		left: 11%;
	}
	.wrapper__slider .slider__item {
		margin: 0;
		opacity: .1;
		transition: .3s ease;
		-ms-transform: scaleY(.9);
		transform: scaleY(.9);
	}
	.wrapper__slider .slider__item p {
		font-size: 14px;
	}
	.wrapper__slider .slick-slide.slick-current {
		opacity: 1;
		transition: .8s ease;
		-ms-transform: scaleY(1);
		transform: scaleY(1);
	}
	.steps_2 {
		padding-bottom: 330%;
	}
	div#timeline.timeline__mobile {
		margin-top: 163.6%;
		left: -73%;
		width: 330%;
	}
	.steps .row .row.flex {
		display: none;
	}
	div#timeline .dot:nth-child(1),
	div#timeline .dot:nth-child(2),
	div#timeline .dot:nth-child(3),
	div#timeline .dot:nth-child(4),
	div#timeline .dot:nth-child(5) {
		opacity: 1;
	}
	form input {
		margin-right: 15px;
	}
	form .form__btn {
		padding: 20px 29px;
		margin-right: 10px;
	}
	.footer .row .footer__nav ul.flex a	{
		padding: 0;
	}
}
